<div fxLayout="column">
  <h1 class="title">Users</h1>
  <div class="user-table">
    <app-user-table [users]="users"></app-user-table>
  </div>

  <div class="create-new-user" fxLayout="column">
    <button *ngIf="!isEditMode" mat-raised-button (click)="onEdit()">Add new user</button>

    <div *ngIf="isEditMode">
      <form [formGroup]="userForm" class="form">
        <div class="wrapper">
          <div class="create-new-user-form">
            <h3>Create New User</h3>
            <hr class="title-bar" />
            <label for="lastName">Last Name</label>
            <input name="name" formControlName="lastName" placeholder="Enter Last Name" type="name" required>
            <div class="form-control-feedback" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
              <p class="err-msg" *ngIf="lastName.errors.required">Last name is required</p>
            </div>
            <label for="firstName">First Name</label>
            <input name="name" formControlName="firstName" placeholder="Enter Name" type="name" required>
            <div class="form-control-feedback" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
              <p class="err-msg" *ngIf="firstName.errors.required">First name is required</p>
            </div>
            <label for="phoneNumber">Phone Number</label>
            <input name="phone" formControlName="phoneNumber" placeholder="Enter phone number" type="name" required>
            <div class="form-control-feedback" *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched)">
              <p class="err-msg" *ngIf="phoneNumber.errors.required">Phone number is required</p>
            </div>
            <label for="emailAddress">Email</label>
            <input name="emailAddress" formControlName="emailAddress" placeholder="Enter email" type="name" required>
            <div class="form-control-feedback"
              *ngIf="emailAddress.errors && (emailAddress.dirty || emailAddress.touched)">
              <p class="err-msg" *ngIf="emailAddress.errors.required">Email is required</p>
              <p class="err-msg" *ngIf="emailAddress.errors.pattern">The email address must contain at least the @
                character</p>
            </div>
            <label for="dateOfBirth">Date of Birth</label>
            <input matInput name="dateOfBirth" formControlName="dateOfBirth" [min]="minDate" [max]="maxDate" type="date"
              placeholder="Choose birth date" required>
            <mat-datepicker #picker></mat-datepicker>
            <div class="form-control-feedback" *ngIf="dateOfBirth.errors && (dateOfBirth.dirty || dateOfBirth.touched)">
              <p class="err-msg" *ngIf="dateOfBirth.errors.required">Date of birth is required</p>
            </div>
            <button (click)="onSubmit()" class="next square" name="button">Submit</button>
            <div class="foot-space"></div>
          </div>
        </div>
      </form>
    </div>
  </div>